<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue</title>
  </head>
  <body>

    <section id="app">
      <h2>{{header.title}}</h2>
      <input type="text" v-model="note" v-on:keyup.enter="createNote()" />
      <ul v-for="(note,id) in notes" >
        <li>{{id}}: {{note.title}} <input type="text" v-model="note.title"/> <button v-on:click="deleteNote(id)">Delete</button> </li>
      </ul>
    </section>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource@1.5.1"></script>
    <script>
      app = new Vue({
        el:'#app',
        data:{
          header: {
            title:'Note App'
          },
          notes: [
          ],
          note: ''
        },
        created: function(){ 
          // GET /someUrl
          this.$http.get('https://restcountries.eu/rest/v2/all').then(response => {

            for (var i = 0; i < response.body.length; i++) {
              this.notes.push({title: response.body[i].name});
            }

          }, response => {
            // error callback
          });
        },
        methods: {
          createNote: function(){
            this.notes.push({title: this.note});
            this.note = '';
          },
          deleteNote: function(id){
            console.log(id);
            this.notes.splice(id, 1);
          }
        }
      });
    </script>
  </body>
</html>
